#!/usr/bin/env bash

export LANG="en_US.UTF-8";
export LC_ALL="en_US.UTF-8";
export EDITOR="vim";
export PYTHONIOENCODING="UTF-8";

export HISTSIZE="32768";
export HISTFILESIZE="${HISTSIZE}";
export HISTCONTROL="ignoreboth";

export NODE_REPL_HISTORY=~/.node_repl_history;
export NODE_REPL_HISTORY_SIZE="32768";
export NODE_REPL_MODE="sloppy";

export PROMPT_COMMAND="history -a;$PROMPT_COMMAND"

export LESS_TERMCAP_md="${yellow}";
export MANPAGER="less -X";

